<!DOCTYPE>
<html>
<head>
    <meta charset="UTF-8">
    <title> QGRS Msg</title>
    <!--设置ico图标-->
    <link rel="icon" href="images/gene.ico">

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="js/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js"></script>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">QGRS Mapper</a>
        </div>
        <div>
            <ul class="nav navbar-nav pull-right">
                <li ><a href="index.html">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Analyse
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="analyze.html">GeneID</a></li>

                        <li class="divider"></li>
                        <li><a href="#">分离的链接</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Another</a></li>
                    </ul>
                </li>
                <li><a href="background.html">Background</a></li>
                <li><a href="#">Resources</a></li>
                <li class="active"><a href="downloads.html">Downloads</a></li>
                <li><a href="#">Credits</a></li>

                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="panel panel-default">

    <div class="panel-heading">
            <h2><span class="label label-primary">Downloads</span></h2>

        </div>


    <div class="panel-body">
        <ul>
            <li>
                <b><a href="#">Test Downloads Resources1</a></b>
            </li>
            <li>
                <b><a href="#">Test Downloads Resources2</a> </b>
            </li>


        </ul>

    </div>
    <div class="panel-footer">
        <b>Please Cite:</b>
        <br>
        QGRS Mapper: a web-based server for predicting G-quadruplexes in nucleotide sequences Oleg Kikin, Lawrence D'Antonio and Paramjeet S Bagga. Nucleic Acids Research 2006 July; 34 (Web Server issue):W676-W682.

    </div>
</div>


</body>
</html>